@namespace MDD4All.DME.Views.EditorView
@using MDD4All.DME.ViewModels;
@using MDD4All.UI.DataModels.Tree;

<div class="breadcrumb-container">
    <ul class="breadcrumb-list">
        @{
            var path = GetSafePath();
            for (int i = 0; i < path.Count; i++)
            {
                var node = path[i];
                bool isLast = (i == path.Count - 1);

                if (node is ObjectEditorViewModel editorNode)
                {
                    <BreadcrumbNodeView TreeNode="editorNode" IsLast="isLast" />
                }
            }
        }
    </ul>
</div>